*{
    margin: 0;
    padding: 0;
    font-family: 'Inter','Moulpali',sans-serif;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Inter','Moulpali',sans-serif;
    background-color: rgba(16, 0, 0, 0.1); 
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/736x/a9/08/64/a90864c346b19ed2026ae6d549cad76e.jpg") ;
    opacity: 0.3; 
    z-index: -1; 
}


.logo {
    font-family: 'Moulpali', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #2d2d2d;
}

nav .nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav .nav-list li a {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: 500;
    transition: color 0.3s;
}

nav .nav-list li a:hover {
    color: darkblue
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav .nav-list {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        display: none;
    }
    
}

.container {
    background-color: #f5f5f5;
    transition: all 0.3s ease; 
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 1px rgba(0,0,0,0.2); 
}
.main-container{
    width: 100%;
    margin: auto;
    
}
h1{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}
.img-h{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.rounded{
    border-radius: 20px;
}
.rounded-top{
    border-radius: 20px 20px 0 0 ;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.bg-low-green{
    background-color: #e1f5e1;
    color: rgb(63, 160, 57);
    padding:5px 10px;
    font-weight: bold;
}
.bg-low-purple{
    background-color: #eaddeb;
    color: #a244a1;
    padding:5px 10px;
    font-weight: bold;
    
}
.tag-text{
    font-size: 13px;
}
.heart{
    color: red;
}
.rating-star{
    color: #faa628;
}
.description{
    color:rgb(169, 167, 167);
    font-size: 13px;
}
.gap-10{
    gap: 10px;
}
.p-10{
    padding: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.m-10{
    margin:20px 10px;
}
.mt-20{
    margin-top: 20px;
}
.fw-600{
    font-weight: 600;
}
.fs-22{
    font-size: 22px;
}
.mx-6{
margin: 0 6px;
}
.grid{
    display: grid;
    
}

.grid-res{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 20px;
}

.footer-name{
    text-align: center;
    font-size: 25px;
}
.footer-point{
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
    cursor: pointer;
}
.footer-de{
    display: flex;
    gap: 20px;
}
.foote-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


 footer {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; 
    position: static;
    z-index: 100;
    margin-top: 50px;
}
header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-container {
    max-width: 1300px;    
    margin: auto;
    width: 100%;
    padding: 15px 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-res {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
}
button{
    border: 0;
    cursor: pointer;
}
/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
    .grid-res {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .logo{
        font-size: 20px;
    }
    h1{
    text-align: start;
}
}

/* Desktop */
@media (min-width: 1024px) {
     .grid-res {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }
     h1{
    text-align: center;
}
.logo{
        font-size: 22px;
    }
    .main-container {
        margin: auto;
    }
}
